* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
 
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(175, 105, 158, 0.801); 
  }
 
  main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
 
  h1 {
    text-align: center; 
    background-color: rgb(175, 118, 166);

  }
 
  hr {
    font-weight: bold;
    height: 3px;
    background: rgb(31, 1, 1);
    margin-bottom: 10px;
  }
 
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(168, 55, 140, 0.705);
  }
 
  .game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: #8d5073;
  }
  .titulo{color: rgb(21, 22, 22); text-decoration:wavy;}